# Exercise 00: Load and Save

In [1]:
import pandas as pd

In [2]:
# Load the dataset
# The file is located in ../data/feed-views.log relative to this notebook
df = pd.read_csv('../data/feed-views.log', 
                 skiprows=[2, 3], 
                 skipfooter=2, 
                 names=['datetime', 'user'], 
                 engine='python') 
# engine='python' is needed for skipfooter

In [3]:
# Set datetime as index
df = df.set_index('datetime')

In [4]:
# Rename datetime to date_time (index name)
df.index.name = 'date_time'

In [5]:
df.head()

                          user
date_time
2020-04-01 00:08:54      pavel
2020-04-01 01:04:56      pavel
2020-04-01 10:21:42  valentina
2020-04-01 12:07:05      maxim
2020-04-01 14:30:26      maxim

In [6]:
df.tail()

                          user
date_time
2020-05-30 09:47:01  anastasia
2020-05-30 14:34:51      pavel
2020-05-30 14:35:39  ekaterina
2020-05-30 18:07:55  valentina
2020-05-30 21:01:32      pavel

In [7]:
# Save to csv with semicolon delimiter
df.to_csv('feed-views-semicolon.log', sep=';')